    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-rsteg_tcp_student_master_seed
    REGISTRY lenam26
NETWORK SOME-NETS
     MASK 173.10.0.0/24
     GATEWAY 173.10.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     SOME-NETS 173.10.0.3
CONTAINER receiver
     USER ubuntu
     X11 YES
     SOME-NETS 173.10.0.4
CONTAINER monitor
     USER ubuntu
     X11 YES
     SOME-NETS 173.10.0.5
